/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Background Video */
.hero video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

/* Dark Overlay */
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

/* Content */
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.content h1{
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 800px;
}

.content p{
    font-size: 1.1rem;
    max-width: 700px;
    line-height: 1.7;
    margin-bottom: 35px;
}

/* Buttons */
.buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    background: #8B5E3C;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover{
    background: #6F4E37;
    transform: translateY(-3px);
}

.btn2{
    background: transparent;
    border: 2px solid white !important;
}

.btn2:hover{
    background: white;
    color: #333;
}

/* Responsive */
@media(max-width:768px){

    .content h1{
        font-size: 2.2rem;
    }

    .content p{
        font-size: 1rem;
    }

    .buttons{
        flex-direction: column;
    }

    .buttons button{
        width: 220px;
    }
}

/* Navbar */
.navbar{
    background-color: #4e342e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.company-name{
    font-size: 24px;
    font-weight: bold;
}

/* Menu Bar */
.menu-bar{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu-item{
    cursor: pointer;
    transition: 0.3s;
}

.menu-item:hover{
    color: #ffcc80;
}

/* Responsive */
@media(max-width:768px){
    .navbar{
        flex-direction: column;
        gap:15px;
    }

    .menu-bar{
        flex-wrap: wrap;
        justify-content: center;
    }
}